<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-md-12">
            <google-map center="map.center"
                        zoom="map.zoom"
                        draggable=true
                        control="map.control"
                        bounds="map.bounds"
                        options="map.options"
                        mark-click="true"
                        events="map.events">
                <marker coords="map.clickedMarker">
                </marker>
            </google-map>

        </div>
    </div>
</div>