<div class="row clearfix" ng-show="showInfo">
    <div class="col-md-2">
        {{messages['build.info.label.build.number']}}: {{buildInfoObject.buildNumber}}
    </div>
    <div class="col-md-2">
        {{messages['build.info.label.svn.revision.number']}}: {{buildInfoObject.svnRevisionNumber}}
    </div>
    <div class="col-md-2">
        {{messages['build.info.label.profile']}}: {{buildInfoObject.profile}}
    </div>
    <div class="col-md-2">
        {{messages['build.info.label.version']}}: {{buildInfoObject.version}}
    </div>
</div>
