<div class="container">

    <div class="row clearfix">
        <div class="col-md-12">
            {{messages['schema.schema.edit.head.label']}}
        </div>
    </div>

    <server-validation-error errors="errors"></server-validation-error>

    <save-cancel-object ng-hide="loadData" on-save="onSaveClick()" has-error="hasError()"></save-cancel-object>

    <p>
    <div class="row">
        <div class="col-md-12" ng-show="loadData">
            <div class="progress progress-striped active">
                <div class="progress-bar" role="progressbar" style="width: 100%">
                    {{messages['default.load.object']}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" ng-show="updateData">
            <div class="progress progress-striped active">
                <div class="progress-bar" role="progressbar" style="width: 100%">
                    {{messages['default.update.object']}}
                </div>
            </div>
        </div>
    </div>

    <edit main-template="mainTemplate"
          news-template="newsTemplate"
          help-template="helpTemplate"
          banner-settings-template="bannerSettingsTemplate"
          messages-template="messagesTemplate"
          screensaver-template="screensaverTemplate"
          object="object"
          type="type"
          default-tab="main"
          additional-data="additionalData"
          errors="editErrors"></edit>
</div>